# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @hrzn @tomasvanpottelbergh @pennfranc @dennisbader @brunnedu

# Custom CODEOWNERS can be set up for branches with specific
# patterns, you can find more info here:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
