.idea
.vscode
*.pyc
docs/build
docs/source/examples
docs/source/userguide/
docs/source/quickstart/
docs/source/README.rst
docs/source/generated_api
darts.egg-info/
build/
dist/
examples/.ipynb_checkpoints/
runs/
.coverage
htmlcov
coverage.xml
.darts
docs_env
.DS_Store
.gradle

# used by CI to build with latest versions of dependencies
requirements-latest.txt
