.idea
*.pyc
u8timeseries.egg-info/
runs/
/.github
u8timeseries/
examples
docs/source
docs/build/doctrees
docs/make.bat
docs/Makefile
Dockerfile
LICENSE
README.md
TODO.md
requirements-docker.txt
setup.py