alabaster==0.7.12
appnope==0.1.0
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
bleach==3.1.4
certifi==2020.4.5.1
chardet==3.0.4
cmdstanpy==0.4.0
convertdate==2.2.0
cycler==0.10.0
Cython==0.29.16
dateutils==0.6.8
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
ephem==3.7.7.1
fbprophet==0.6
holidays==0.10.2
idna==2.9
imagesize==1.2.0
importlib-metadata==1.6.0
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.0
Jinja2==2.11.2
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
kiwisolver==1.2.0
korean-lunar-calendar==0.2.1
LunarCalendar==0.0.9
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
mock==4.0.2
nbconvert==5.6.1
nbformat==5.0.6
nbsphinx==0.6.1
notebook==6.0.3
numpy==1.18.3
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.6.0
pmdarima==1.5.3
prometheus-client==0.7.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.6.1
PyMeeus==0.3.7
pyparsing==2.4.7
pyrsistent==0.16.0
pystan==2.19.1.1
python-dateutil==2.8.1
pytz==2019.3
pyzmq==19.0.0
requests==2.23.0
retrying==1.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
Send2Trash==1.5.0
setuptools-git==1.2
six==1.14.0
snowballstemmer==2.0.0
Sphinx==3.0.2
sphinx-automodapi==0.12
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
statsmodels==0.11.1
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
u8timeseries==0.0.2
urllib3==1.25.9
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.1.0
